body {
  font-family: sans-serif;
  font-style: normal;
  text-align: justify;
  font-size: 20pt;
  font-weight: lighter;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
}

.indented {
  margin-right: 20%;
  margin-left: 20%;
}

h1 {
  font-weight: lighter;
}

.menubar{
  list-style-type: none;
  background-color: white;
  overflow: hidden;
  border-bottom-style: groove;
  border-bottom-color: silver;
  text-align: center;
  background-color: Gainsboro;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 25px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: Gainsboro;
}

li a:hover {
  border-bottom-color: black;
  border-bottom-style: dotted;
}
